<div class="landing-page">

  <div class="content" style="margin-bottom: 5rem;">
    <span class="text title">🎀 Happy Birthday 🎀</span>
    <img class="image" width="300px" height="300px" src="./img/rabbit-exited.gif" alt="" />
    <div fxLayout="column" fxLayoutAlign="center center" class="text-container">
      <span class="text subtitle">ขอให้วันนี้เป็นวันพิเศษของ~</span>
      <span class="text subtitle">น้องเฟิร์นที่น่ารักที่สุดในโลก</span>
    </div>
  </div>

  <image-slider></image-slider>

  <section class="love-message" style="margin-bottom: 5rem;">
    สำหรับวันเกิดปีนี้ แฟนขอให้มีความสุขมากๆนะคะ ถึงแม้จะไม่ได้อยู่ด้วยกัน แต่แฟนก็อยากให้รู้ว่า
    แฟนคิดถึงและรักแฟนมากๆ เลยนะ
    มีโกรธมีงอนกันบ้าง เป็นเรื่องปกติเนอะ😅 จะพยายามเป็นแฟนที่ดีขึ้นต่อๆไปเพื่อแฟนนะ
    ขอให้ทุกวันของแฟนเต็มไปด้วยรอยยิ้มและหัวใจสีชมพู 🩷
  </section>


  <div *ngIf="!isOpened" class="gift-wrapper" [ngClass]="{ 'expand': isExpanding }" style="margin-bottom: 5rem;">
    <button (click)="openGift()" style="background: none; border: none; cursor: pointer;">
      <img class="image" width="300px" height="300px" src="./img/present.gif" alt="" />
    </button>
  </div>

  <div class="video-overlay" *ngIf="isVideoOpen" (click)="closeVideo()">
    <video #videoPlayer src="./video/video.mp4" autoplay muted playsinline controls class="video-fullscreen"></video>
  </div>

  <music-player style="margin-bottom: 5rem;"></music-player>



</div>

<div *ngFor="let config of snowFlakes">
  <snow-flake [depth]="config.depth" [speed]="config.speed" [style.left.vw]="config.left">
  </snow-flake>
</div>